# Dependências
node_modules/

# Build
dist/
dist-ssr/

# Logs
logs/
*.log
npm-debug.log*

# Editor / SO
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# Ambiente
.env
.env.local
.env.*.local

# Vercel
.vercel/

# TypeScript
*.tsbuildinfo
